.page-about {
    &__content {
        min-height: calc(80vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dynamic-image {
        max-width: 100%;
        img {
            max-width: 100%;
            border-radius: 5px;
        }
    }

    .text-block {
        text-align: left;
        h2 {
            margin-bottom: 12px !important;
        }
    }
}