.columns {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  max-width: 100%;

  @include breakpoint(md) {
    gap: 24px;
  }

  @include breakpoint(lg) {
    gap: 48px;
  }

  div {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 10px 10px 20px -11px #000000;
    }
  }

  &--2-col {
    grid-template-columns: 1fr;
    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--3-col {
    grid-template-columns: 1fr;
    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.reverse {
    .columns--image {
      grid-row: 1;
      grid-column: 1;
      img {
        border-radius: 25px;
        box-shadow: none;
      }
    }
  }
}
