// Custom colors
// -------------------------
$c1:                #821EFE !default;
$c2:                #4B0DFC !default;
$c3:                #212227 !default;
$branded-gradient:   linear-gradient(-45deg, $c1, $c2);