h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FreightSans Pro", "Arial", sans-serif;
}

*:not(h1, h2, h3, h4, h5, h6) {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  line-height: 1.2em;
  @include breakpoint(md) {
    font-size: 50px;
  }
}

h2 {
  font-size: 28px;
  line-height: 1.2em;
  @include breakpoint(md) {
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.4em;
  @include breakpoint(md) {
    font-size: 32px;
  }
}

h4 {
  font-size: 20px;
  line-height: 1.4em;
  @include breakpoint(md) {
    font-size: 24px;
  }
}

p,
span {
  font-size: 14px;
  line-height: 1.4em;
  @include breakpoint(md) {
    font-size: 18px;
  }
}
