.clients {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    @include breakpoint(lg) {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    
    &__reviews {

    }
}