.contact {
  max-width: 100%;
  text-align: center;

  address {
    display: flex;
    flex-direction: column;
    font-style: initial;
    margin-bottom: 24px;
    @include breakpoint(lg) {
        margin-bottom: 48px;
    }
    span {
        margin: 0;
    }
  }
}
