.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

  .field {
    position: relative;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    &::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      height: 1px;
      background: $branded-gradient;
      width: 0px;
      transition: all 0.35s ease-in-out;
    }

    label {
      font-size: 14px;
      color: gray;
      transition: all 0.2s ease;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
      padding: 6px 12px;
      padding-left: 0;
      border: none;
      outline: none;
      background-color: whitesmoke;
      border-bottom: 1px solid lightgrey;
      font-size: 16px;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &.focus {
      label {
        color: $dark;
      }
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }

  #form-msg {
    opacity: 0;
    width: 0px !important;
    height: 0px !important;
  }

  .btn {
      align-self: flex-start;
  }
  .submit-success {
    p {
      color: rgb(40, 138, 40);
      display: flex;
      &:before {
        content: "";
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url('../../../assets/icons/checkmark-circle-outline.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 6px;
      }
    }
  }
}
