.events {
  &__intro {
    max-width: 50%;
  }

  &__overview {
    max-width: 800px;
    margin: 0 auto;

    &__filter {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      select {
        width: 100%;
        max-width: 100%;
        height: 50px;
        padding: 6px 12px;
        outline: none;
        border-radius: 5px;

        @include breakpoint(md) {
          width: 200px;
          height: 40px;
        }

        option {
          max-width: 100%;
        }
      }
    }

    &__no-results {
      display: flex;
      justify-content: center;
      padding: 24px 0;
      font-weight: 600;
      font-style: italic;
      span {
        margin-bottom: 0;
      }
    }

    &__events {
      .events-per-month {
        margin: 48px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        @include breakpoint(md) {
          grid-template-columns: 1fr 2fr;
          gap: 24px;
        }

        .month {
          display: flex;
          justify-content: flex-end;
          padding-right: 48px;
        }

        .events-overview {
          border-top: 1px solid $dark;
          padding-top: 48px;

          @include breakpoint(md) {
            border-top: none;
            border-left: 1px solid $dark;
            padding-top: 0;
            padding-left: 48px;
          }

          .event-info {
            display: flex;
            padding: 24px 0;
            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              padding-bottom: 0;
            }

            &__icon {
              min-width: 50px;
            }

            &__content {
              display: flex;
              flex-direction: column;
              margin-left: 24px;
              h4,
              span {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
