.linked-steps {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 24px;

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }
  .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 48px;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    .step {
      min-width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__index {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $c1;
        border-radius: 50%;
        color: $c1;
        font-family: "FreightSans Pro", "Arial", sans-serif;
        font-size: 24px;
        font-weight: 600;
        transition: all 0.5s ease;

        &:hover {
          cursor: pointer;
          background-color: $c1;
          color: white;
        }
      }

      &__content {
        opacity: 0;
      }

      &__title {
        font-family: "FreightSans Pro", "Arial", sans-serif;
        font-weight: 600;
      }

      &.active {
        .step {
          &__index {
            background-color: $c1;
            color: white;
          }

          &__content {
            opacity: 1;
          }
        }
      }
    }

    @include breakpoint(sm) {
      .link:not(.last) {
        flex-basis: 100%;
        flex-grow: 1;
        height: 2px;
        transform: translateY(-22px);
        background: $branded-gradient;
        opacity: 0.5;
      }
    }

    @include breakpoint(lg) {
      .link:not(.last) {
        transform: translateY(-35px);
      }
    }
  }
  .active-step-container {
    display: flex;
    justify-content: flex-start;
    @include breakpoint(sm) {
      justify-content: center;
    }
  }

  .active-step {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateY(12px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    @include breakpoint(sm) {
      grid-template-columns: 200px 1fr;
    }

    &__icon {
      max-width: 100%;
      display: flex;
      margin: 24px 0;
      animation: fade-in 1s ease forwards;
      opacity: 0;
      transition: opacity 0.2s ease;

      @include breakpoint(sm) {
        margin: 0;
        justify-content: center;
        align-items: center;
      }

      &.loaded {
        opacity: 1;
      }

      img {
        max-width: 50px;
        @include breakpoint(sm) {
          max-width: 50%;
        }
      }
    }

    &__content {
      animation: fade-in 1s ease forwards;
      @include breakpoint(md) {
        width: 450px;
      }
    }
  }
}
