.mental-training {
  background: linear-gradient(165deg, #05030c, #21104f, #2e184a);
  * {
    color: whitesmoke;
  }

  &__content {
    text-align: center;
    p {
      font-size: 18px;
      max-width: 50%;
      margin-inline: auto;
    }
  }

  &__usps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 48px;
    }

    .usp {
      border: 1px solid white;
      border-radius: 8px;
      padding-block: 24px;
      padding-inline: 48px;
      margin-top: 24px;
      @include breakpoint(md) {
        margin-top: 48px;
      }

      ul {
        list-style-type: circle;
        li {
          position: relative;
          text-align: left;
          line-height: 24px;
          color: $muted;
        }
      }
    }
  }
}
