.mental-training {
  background-color: $dark;
  * {
    color: whitesmoke;
  }

  &__content {
    text-align: center;
    h2 {
      margin-bottom: 0;
    }
  }

  &__usps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 48px;
    }

    .usp {
      margin-top: 24px;
      @include breakpoint(md) {
        margin-top: 48px;
      }

      ul {
        list-style-type: none;
        margin-left: 60px;
        @include breakpoint(lg) {
          margin-left: 40px;
        }
        li {
          position: relative;
          text-align: left;
          line-height: 24px;
          &::before {
            position: absolute;
            top: 0;
            left: -24px;
            content: "";
            background-image: url("../../../assets/icons/checkmark-circle-outline.svg");
            background-size: contain;
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }
}
