.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);

  @include breakpoint(lg) {
    gap: 24px;
  }

    .card {
      justify-self: center;
    }
  }
}
